/*======fontisizes encabezados====*/
$fuente-encabezado: 1.2rem;

/*======fontsizes pie de pagina=======*/

$fuente-piedepagina: 1.2rem;

/*======fontsizes h2========*/
$fuente-h2: 1.4rem;

/*======fontsizes h3========*/
$fuente-h3: 1.3rem;

/*======fontsizes p========*/
$fuente-p: 1rem;