/* =====colores primarios=====*/
$color-primario: rgba(233, 221, 221, 0.868);
$color-secundario: black;



/*=====colores secundarios=====*/


$color-cor: rgba(58, 151, 58, 0.79);

$color-byr: rgba(247, 247, 130, 0.733);

$color-ner: rgba(238, 174, 125, 0.736);

$color-contacto: rgba(238, 193, 134, 0.7);

$color-btn: rgba(70, 140, 214, 0.71);