/* =====Botones===== */

.btn:hover {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    background-color: white;
    background-color: $color-btn;
    @include border();
    transition-delay: 0.1s;
}