/*============INDEX===========*/

.index__encabezado {
    font-size: $fuente-encabezado;
    padding: 10px;
    background-color: $color-primario;
    position:fixed;
    width: 100%;
    z-index: 4;
    box-shadow: 20px 0px 10px 10px black;
    margin-bottom: 2rem;


    &__nav {
        width: 100%;

        ul {
            @include flex-box(row, space-between, flex-start);
        }
    }
}


.compra {
    @include flex-box(row, space-between, center);
}




/*======VERSION DESKTOP==========*/

@media (min-width: 1100px) {
    .index__encabezado {
        padding: 5px;
        @include flex-box(row, space-between, center);
        position: sticky;
        top: 0;
        z-index: 4;

        &__nav:hover {
            margin: 15px 0px 15px;
        }

        ul {
            @include flex-box(row, space-between, center);
            gap: 12px;
        }
    }
}





/*=====================contacto==============*/


.contacto__encabezado {
    padding: 10px;
    font-size: $fuente-encabezado;
    @include flex-box (column, center, flex-start);
    gap: 15px;
    background-color: $color-contacto;
    box-shadow: 0px 0px 15px black;
    position: sticky;
    top: 0;
    z-index: 2;

    hr {
        margin: 0;
        height: 1px;
        color: black;
    }

    &:hover li {
        margin: 15px 0px 15px;
    }
}

/*=======Vista Desktop======*/


@media (min-width:1100px) {

    .contacto__encabezado {
        padding: 15px;
        @include flex-box(row, space-around, center);


        hr {
            display: none;
        }
    }
}