//RESETEO

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono', monospace;
}


ul,
ol {
    list-style: none;
}


a {
    text-decoration: none;
    color: black;
}


